<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT ArticlesItem ANY>
<!ATTLIST ArticlesItem id ID #REQUIRED>
<!ELEMENT ArticlesMain ANY>
<!ATTLIST ArticlesMain id ID #REQUIRED>
<!ELEMENT Comment ANY>
<!ATTLIST Comment id ID #REQUIRED>
<!ELEMENT Contactpage ANY>
<!ATTLIST Contactpage id ID #REQUIRED>
<!ELEMENT GridArticle ANY>
<!ATTLIST GridArticle id ID #REQUIRED>
<!ELEMENT Homepage ANY>
<!ATTLIST Homepage id ID #REQUIRED>
<!ELEMENT Master ANY>
<!ATTLIST Master id ID #REQUIRED>
<!ELEMENT Members ANY>
<!ATTLIST Members id ID #REQUIRED>
<!ELEMENT ProjectsItem ANY>
<!ATTLIST ProjectsItem id ID #REQUIRED>
<!ELEMENT ProjectsMain ANY>
<!ATTLIST ProjectsMain id ID #REQUIRED>
<!ELEMENT Textpage ANY>
<!ATTLIST Textpage id ID #REQUIRED>

]>
<root id="-1">
  <Homepage id="1068" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-09-22T13:40:55" updateDate="2015-10-28T14:56:35" nodeName="Homepage" urlName="homepage" path="-1,1068" isDoc="" nodeType="1054" creatorName="Gabor" writerName="Gabor" writerID="0" template="1053" nodeTypeAlias="Homepage">
    <pagetitle><![CDATA[AarhusWebDevCoop]]></pagetitle>
    <maincontent><![CDATA[<p>Welcome to our awesome website!</p>]]></maincontent>
    <footerText><![CDATA[Copyright Gabor Lukacs 2015]]></footerText>
    <ArticlesMain id="1069" parentID="1068" level="2" creatorID="0" sortOrder="0" createDate="2015-09-22T15:39:57" updateDate="2015-09-22T15:39:57" nodeName="Articles" urlName="articles" path="-1,1068,1069" isDoc="" nodeType="1060" creatorName="Gabor" writerName="Gabor" writerID="0" template="1059" nodeTypeAlias="ArticlesMain">
      <ArticlesItem id="1070" parentID="1069" level="3" creatorID="0" sortOrder="0" createDate="2015-09-22T15:41:01" updateDate="2015-09-22T15:41:01" nodeName="Article about cars" urlName="article-about-cars" path="-1,1068,1069,1070" isDoc="" nodeType="1058" creatorName="Gabor" writerName="Gabor" writerID="0" template="1057" nodeTypeAlias="ArticlesItem">
        <articleTitle><![CDATA[Cars]]></articleTitle>
        <articleContents><![CDATA[Audi, BMW, Ford, VW]]></articleContents>
      </ArticlesItem>
      <ArticlesItem id="1071" parentID="1069" level="3" creatorID="0" sortOrder="1" createDate="2015-09-22T15:42:10" updateDate="2015-09-22T15:42:43" nodeName="Article about Web Development" urlName="article-about-web-development" path="-1,1068,1069,1071" isDoc="" nodeType="1058" creatorName="Gabor" writerName="Gabor" writerID="0" template="1057" nodeTypeAlias="ArticlesItem">
        <articleTitle><![CDATA[Is it good to study Web development nowadays?]]></articleTitle>
        <articleContents><![CDATA[<p>Yes it is.</p>]]></articleContents>
      </ArticlesItem>
      <ArticlesItem id="1072" parentID="1069" level="3" creatorID="0" sortOrder="2" createDate="2015-09-22T15:43:19" updateDate="2015-09-22T15:43:19" nodeName="Article about weather" urlName="article-about-weather" path="-1,1068,1069,1072" isDoc="" nodeType="1058" creatorName="Gabor" writerName="Gabor" writerID="0" template="1057" nodeTypeAlias="ArticlesItem">
        <articleTitle><![CDATA[How is the weather today.]]></articleTitle>
        <articleContents><![CDATA[<p>It's rainy!</p>]]></articleContents>
      </ArticlesItem>
    </ArticlesMain>
    <ProjectsMain id="1073" parentID="1068" level="2" creatorID="0" sortOrder="1" createDate="2015-09-22T15:44:02" updateDate="2015-09-22T15:44:02" nodeName="Projects" urlName="projects" path="-1,1068,1073" isDoc="" nodeType="1064" creatorName="Gabor" writerName="Gabor" writerID="0" template="1063" nodeTypeAlias="ProjectsMain">
      <ProjectsItem id="1074" parentID="1073" level="3" creatorID="0" sortOrder="0" createDate="2015-09-22T15:44:30" updateDate="2015-09-28T16:24:03" nodeName="Project 1" urlName="project-1" path="-1,1068,1073,1074" isDoc="" nodeType="1062" creatorName="Gabor" writerName="Gabor" writerID="0" template="1061" nodeTypeAlias="ProjectsItem">
        <status><![CDATA[Underdevelopment]]></status>
        <projecttitle><![CDATA[The first one]]></projecttitle>
        <projectcontent><![CDATA[yes yes yes]]></projectcontent>
      </ProjectsItem>
      <ProjectsItem id="1075" parentID="1073" level="3" creatorID="0" sortOrder="1" createDate="2015-09-22T15:44:50" updateDate="2015-09-28T16:23:58" nodeName="Project 2" urlName="project-2" path="-1,1068,1073,1075" isDoc="" nodeType="1062" creatorName="Gabor" writerName="Gabor" writerID="0" template="1061" nodeTypeAlias="ProjectsItem">
        <status><![CDATA[Completed]]></status>
        <projecttitle><![CDATA[Project 2 - 123456789]]></projecttitle>
        <projectcontent><![CDATA[This is project number 2 - completed]]></projectcontent>
      </ProjectsItem>
      <ProjectsItem id="1082" parentID="1073" level="3" creatorID="0" sortOrder="2" createDate="2015-09-28T16:19:37" updateDate="2015-09-28T16:23:54" nodeName="Project 3" urlName="project-3" path="-1,1068,1073,1082" isDoc="" nodeType="1062" creatorName="Gabor" writerName="Gabor" writerID="0" template="1061" nodeTypeAlias="ProjectsItem">
        <status><![CDATA[Completed]]></status>
        <projecttitle><![CDATA[The 3rd one]]></projecttitle>
        <projectcontent><![CDATA[This is also a completed project]]></projectcontent>
      </ProjectsItem>
      <ProjectsItem id="1083" parentID="1073" level="3" creatorID="0" sortOrder="3" createDate="2015-09-28T16:21:37" updateDate="2015-09-28T16:23:48" nodeName="Project 4" urlName="project-4" path="-1,1068,1073,1083" isDoc="" nodeType="1062" creatorName="Gabor" writerName="Gabor" writerID="0" template="1061" nodeTypeAlias="ProjectsItem">
        <status><![CDATA[Underdevelopment]]></status>
        <projecttitle><![CDATA[This is 4th one]]></projecttitle>
        <projectcontent><![CDATA[This won't be completed]]></projectcontent>
      </ProjectsItem>
      <ProjectsItem id="1084" parentID="1073" level="3" creatorID="0" sortOrder="4" createDate="2015-09-28T16:22:46" updateDate="2015-09-28T16:23:41" nodeName="Project 5" urlName="project-5" path="-1,1068,1073,1084" isDoc="" nodeType="1062" creatorName="Gabor" writerName="Gabor" writerID="0" template="1061" nodeTypeAlias="ProjectsItem">
        <status><![CDATA[Completed]]></status>
        <projecttitle><![CDATA[This 5th project ]]></projecttitle>
        <projectcontent><![CDATA[This is a completed one. Good night!]]></projectcontent>
      </ProjectsItem>
    </ProjectsMain>
    <GridArticle id="1081" parentID="1068" level="2" creatorID="0" sortOrder="2" createDate="2015-09-24T23:44:19" updateDate="2015-10-29T17:39:02" nodeName="About Us" urlName="about-us" path="-1,1068,1081" isDoc="" nodeType="1079" creatorName="Gabor" writerName="Gabor" writerID="0" template="1078" nodeTypeAlias="GridArticle">
      <umbraconavihide>0</umbraconavihide>
      <articleGrid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "editors": [
                "headline"
              ],
              "allowAll": false,
              "allowed": [
                "headline"
              ],
              "controls": [
                {
                  "value": "We can make your wishes come true!",
                  "editor": {
                    "name": "Headline",
                    "alias": "headline",
                    "view": "textstring",
                    "render": null,
                    "icon": "icon-coin",
                    "config": {
                      "style": "font-size: 36px; line-height: 45px; font-weight: bold",
                      "markup": "<h1>#value#</h1>"
                    }
                  }
                }
              ]
            }
          ],
          "id": "995415fd-cae5-d272-d0cd-fffbd94b26a6"
        },
        {
          "name": "Image",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media"
              ],
              "config": {
                "class": "image"
              },
              "styles": {},
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1109,
                    "image": "/media/1005/361a668.jpg"
                  },
                  "editor": {
                    "name": "Image",
                    "alias": "media",
                    "view": "media",
                    "render": null,
                    "icon": "icon-picture",
                    "config": {}
                  }
                }
              ]
            }
          ],
          "id": "7526ea50-ae9a-62a2-dda5-7608246ac205"
        },
        {
          "name": "MainText",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "rte"
              ],
              "controls": [
                {
                  "value": "<p>Our young and energetic team can work with the most popular CMS systems from today!</p>\n<p>Here's a brief intro about our amazing team:</p>",
                  "editor": {
                    "name": "Rich text editor",
                    "alias": "rte",
                    "view": "rte",
                    "render": null,
                    "icon": "icon-article",
                    "config": {}
                  }
                }
              ]
            }
          ],
          "id": "c1e92441-8f47-047b-b645-30e1b8d32a1c"
        },
        {
          "name": "Columns",
          "areas": [
            {
              "grid": 4,
              "controls": [
                {
                  "value": "<p>Soren Sorensen - CEO</p>",
                  "editor": {
                    "name": "Rich text editor",
                    "alias": "rte",
                    "view": "rte",
                    "render": null,
                    "icon": "icon-article",
                    "config": {}
                  }
                }
              ]
            },
            {
              "grid": 4,
              "controls": [
                {
                  "value": "<p><span>Gabor Lukacs - Web developer</span></p>",
                  "editor": {
                    "name": "Rich text editor",
                    "alias": "rte",
                    "view": "rte",
                    "render": null,
                    "icon": "icon-article",
                    "config": {}
                  }
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": true,
              "controls": [
                {
                  "value": "<p>Walter Rohrl - Front End developer</p>",
                  "editor": {
                    "name": "Rich text editor",
                    "alias": "rte",
                    "view": "rte",
                    "render": null,
                    "icon": "icon-article",
                    "config": {}
                  }
                }
              ]
            }
          ],
          "id": "36b2677b-27e6-254c-d9a2-d9de8d4340ba"
        }
      ]
    }
  ]
}]]></articleGrid>
    </GridArticle>
    <Contactpage id="1087" parentID="1068" level="2" creatorID="0" sortOrder="3" createDate="2015-10-16T01:32:52" updateDate="2015-10-16T01:32:52" nodeName="Contact Us" urlName="contact-us" path="-1,1068,1087" isDoc="" nodeType="1086" creatorName="Gabor" writerName="Gabor" writerID="0" template="1085" nodeTypeAlias="Contactpage" />
    <Textpage id="1099" parentID="1068" level="2" creatorID="0" sortOrder="4" createDate="2015-10-27T12:37:45" updateDate="2015-10-27T12:37:45" nodeName="Login" urlName="login" path="-1,1068,1099" isDoc="" nodeType="1056" creatorName="Gabor" writerName="Gabor" writerID="0" template="1098" nodeTypeAlias="Textpage" />
    <Textpage id="1100" parentID="1068" level="2" creatorID="0" sortOrder="5" createDate="2015-10-27T12:40:36" updateDate="2015-10-27T14:12:29" nodeName="Forbidden Access" urlName="forbidden-access" path="-1,1068,1100" isDoc="" nodeType="1056" creatorName="Gabor" writerName="Gabor" writerID="0" template="1055" nodeTypeAlias="Textpage">
      <umbraconavihide>1</umbraconavihide>
      <maincontent><![CDATA[<p>Forbidden access!</p>
<p> </p>
<p>Sorry, you are not part of the active members, therefore you have no access to the projects!</p>
<p> </p>
<p> </p>]]></maincontent>
    </Textpage>
    <Members id="1103" parentID="1068" level="2" creatorID="0" sortOrder="6" createDate="2015-10-27T16:23:03" updateDate="2015-10-27T16:24:44" nodeName="Members" urlName="members" path="-1,1068,1103" isDoc="" nodeType="1102" creatorName="Gabor" writerName="Gabor" writerID="0" template="1101" nodeTypeAlias="Members" />
  </Homepage>
</root>