@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

<div id="main-container">
    <div id="main" class="wrapper clearfix">
		 

<h3>Please sign in!</h3>

			
		@if (!Members.GetCurrentLoginStatus().IsLoggedIn)


		{  @Html.Partial("Login");  }


		else 
		
		{  @Html.Partial("Logout"); }

    </div> <!-- #main -->
</div> <!-- #main-container -->